@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    color: white;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.20);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1 {
    font-family: "Microsoft YaHei UI Light", serif;
}

#greeting {
    letter-spacing: 20px;
}

#time {
    font-size: 8rem;
    margin-left: 16px;
    margin-right: 16px;
}

@media (max-width: 700px) {
    #time {
        font-size: 3rem;
        margin-left: 16px;
        margin-right: 16px;
    }

    h1 {
        font-size: 1.5rem;
    }
}
